@model IEnumerable<Academico.Models.Departamento>

    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    }

    <h1>Lista de Departamentos</h1>

    <p>
        <a asp-action="Create">Criar Novo Departamento</a>
    </p>

<table class="table">
        <thead>
            <tr class="table-secondary">
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartamentoId">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.DepartamentoId">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.DepartamentoId" onclick="return confirm('Tem certeza que deseja apagar este departamento?')">Excluir</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
